<script type="text/ng-template" id="template">

		<div class="modal-header">
		  
		  <h4 class="modal-title">Details of Delivery</h4>

		</div>
		<form >
		  <div class="row">
			<div class="col-md-6">
			  <div class="form-group">
				<label for="text">Id:</label>
				<p> {{ data.name }}</p>
			  </div>
			</div>
			<input type="hidden" name="id" value="9">
			<div class="col-md-6">
			  <div class="form-group">
				<label for="text">Rating:</label>
				<p>{{ data.rating }}</p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-6">
			  <div class="form-group">
				<label for="text">Time Ago</label>
				<p> {{ data.date }} </p>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label for="text">Status:</label>
				<p> {{ data.status }} </p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-6">
			  <div class="form-group">
				<label for="text">Location:</label>
				<p for="text">{{ data.address }}</p>
			  </div>
			</div>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="closeThisDialog()">Close</button>
		  </div>
		</form>

</script>

<div>
  <ul class="breadcrumb">
    <li> <a href="#" style="color:#000;">Sales Records</a> </li>
  </ul>
</div>

<!--<div class="wrapGridList" clienttable2
         tabledata='tabledata'
         groupeditmode='groupeditmode'
         totalcount='totalcount'
         deletetargetlist='deleteOffer(I, K)'
         edittargetlist='editOffer(I, K)'
         selecttargetlist='editOffer(I, K)'
         copytargetlist='copyOffer(I, K)'
         deactivetargetlist='deactiveOffer(I,K)'
         getnextpage='getnextpage()'
         getprevpage='getprevpage()'
         getselectpage='getselectpage(num)'
         overridecopy="hidecopy" 
         overrideedit="hideedit"
         pagesize='pagesize'
         currentpage='currentpage'
         pagenumbers='pagenumbers'
         searchtext='searchtext'>
    </div>-->


<div class=" row">
  <div class="col-xs-6"> 
    <!--<select ng-model="itemsByPage" class="form-control">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
        <label>Records Per Page</label>-->
  </div>
  <diV class="col-xs-6"> 
   <!-- <input st-search placeholder="global search" class="input-sm form-control" type="search"/>-->
  </diV>
  <table st-table="rowsCollection" st-safe-src="dataCollection" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="id">Id</th>
        <th st-sort="name">Dish Name</th>
        <th st-sort="cookname"> Cook</th>
        <th st-sort="username">Order BY</th>
        <td> Delivery Time </td>
        <th st-sort="quantity">Quantity</th>
        <th st-sort="total">total</th>
        <th >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rowsCollection">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.cookname }}</td>
        <td>{{ row.username }}</td>
        <td>{{ row.deliverytime  }}</td>
        <td>{{ row.quantity }}</td>
        <td>{{ row.total }}</td>
        <td>
        	<a class="btn" ng-click="showTemplate(row)">View More Details</a>
         </td>
      </tr>
      <tr ng-show="rowsCollection.length == 0" class="text-center">	<td> Data not found </td> </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center"><div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="7"></div></td>
      </tr>
    </tfoot>
  </table>
</div>