
<div class="container sets-wrap">
  <div class="row">
    <div class="center_column col-xs-12 col-sm-8 col-sm-offset-2" id="center_column">
    
      <p> Send Message  </p>
     
     	<div class="col-sm-3">
        	<img src="uploads/{{ cook_photo || 'user.png' }}"  alt="" class="img-responsive"/>
        </div>
        <div class="col-sm-9">
        	<h4>Send Message User</h4>
        
        
        	<div class="full">
            	
            
            </div>
        
        
        	<input type="text" ng-model="send.text" class="form-control"/>
            
            
            <button class="btn mt10" ng-click="sender()">Send</button>	
        </div>
        

    </div>
  </div>
</div>
