<div class="content_area">
    <div class="table">
        <div class="header">
            <div ng-repeat="m in tabledata.header" class="cell {{m.name}}" ng-class="setIDnodisplay($index)"
                 ng-click='selectHeaderIndex($index)'>
                <span>{{m.desc}}</span><span class="sortindicator"></span>
            </div>
            <div class="cell-action cell">
                <div class="dd_options leftopen right" ng-click="toggleGridPopup()">
                    <div class="label">
                        <span>&#9660;</span>
                    </div>
                    <ul ng-show="isGridPopupVisible">
                        <li ng-repeat="m in tabledata.header | filter: noIDFilter ">
                            <label>
                                <input type="checkbox" checked="checked" name="{{m.name}}" data-column="{{m.name}}" />
                                <span class="fs1 unchecked icon-unchecked" style="display: none;"></span><span class="fs1 checked icon-checked"
                                                                                                               style="display: block;"></span><span>{{m.desc}}</span>
                            </label>
                        </li>
                    </ul>
                    <!-- dd_options -->
                </div>
                <!-- cell-action -->
            </div>
            <!-- header end -->
        </div>
        <div class="row hoverrow" ng-repeat="k in filtered = (tabledata.rowval | filter:searchtext ) | tableColumnSort: reverse * (sortcolumn+1):sorttype | tableStartFrom:(currentpage-1)*pagesize | limitTo:pagesize">
            <div ng-repeat="m in tabledata.header" class="cell {{m.name}}" ng-class="setIDnodisplay($index)"
                 ng-click="selecttargetlist({I:$parent.$index, K:k})">
                <div ng-bind-html="getCell(k[$index],m.type)"></div>
            </div>
            <div class="cell-action cell dropdown" ng-click="toggleGridDropdown($index)" ng-class="{'open':isGridDropdown($index)==true}">
                <div class="options" ng-show="isGridDropdown($index)">
                    <li ng-show="hasedit==1"><a class="remove-icon" ng-click="edittargetlist({I:$parent.$index, K:k})">Edit</a></li>
                    <li ng-show="hascopy==1"><a class="copy-icon" ng-click="copytargetlist({I:$parent.$index, K:k})">Copy</a></li>
                    <li ng-show="hasdelete==1"><a class="remove-icon" ng-click="deletetargetlist({I:$parent.$index, K:k})">Remove</a></li>
                    <li ng-show="hasdeactive==1 && k[5] != 'Archived'"><a class="de-active-icon" ng-click="deactivetargetlist({I:$parent.$index, K:k})"><p ng-show="k[5] == 'In-Active'">Activate</p><p ng-show="k[5] != 'In-Active'">Deactivate</p></a></li>
                    <li ng-show="hastemplate==1"><a class="save-as-temp-icon" ng-click="templatetargetlist({I:$parent.$index, K:k})">Save As Template</a></li>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- table -->
    </div>
</div>
<div class="pagination" ng-show="isstore">
    <div class="total">{{ (filtered.length != tabledata.totalcount && filtered.length!= pagesize)?filtered.length: tabledata.totalcount }} {{ tabledata.totalcounttext }}</div>
    <div class="paging">
        <a ng-hide="tabledata.currentpager == 1" ng-click="getprevpage()">Previous</a>
        <span> {{ tabledata.currentpager }} of {{ tabledata.totalpages }} </span>
        <a ng-hide="tabledata.currentpager >= tabledata.totalpages" ng-click="getnextpage()">Next</a>
    </div>
</div>
<div class="pagination" ng-hide="isstore">
    <div class="total">{{ filtered.length }} {{ tabledata.totalcounttext }}</div>
    <div class="paging">
        <a ng-hide="currentpage == 1" ng-click="getprevpage()">Previous</a>
        <span> {{ currentpage }} of {{ MathCeil(filtered.length / pagesize) }} </span>
        <a ng-hide="currentpage >= filtered.length / pagesize"
           ng-click="currentpage=currentpage+1;getnextpage()">Next</a>
    </div>
</div>
