<!-- topbar starts -->

<div class="navbar-inner" style="padding-top: 0px !important;,padding-bottom: 4px !important;,line-height: 31px !important;,height: 85px !important;">
  <button type="button" class="navbar-toggle pull-left animated flip"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  <a class="navbar-brand" href="/admin"> <img alt="whutzcookin Logo" src="/views/admin/img/logo2.png" class="hidden-xs"style="float: right !important;,height: 62px !important;,width: 130px !important;" /> </a> 
  
  <!-- user dropdown starts -->
  <div class="btn-group pull-right">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> Admin</span> <span class="caret"></span> </button>
    <ul class="dropdown-menu">
      <li><a href="#/my-profile">Profile</a></li>
      <li class="divider"></li>
      <li><a href="#/logout">Logout</a></li>
    </ul>
  </div>
</div>
