
<div class="container sets-wrap">
  <div class="row">
    <div class="center_column col-xs-12 col-sm-8 col-sm-offset-2" id="center_column">
      <div id="slider_row">
        <div class="center_column " id="top_column">
          <div id="homepage-slider">
            <div class="row">
              <div id="cs-slider"> <img title="" src="views/images/webBanner.jpg" > </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <ul class="nav nav-tabs clearfix" id="home-page-tabs">
          <li class="homefeatured"><a class="homefeatured" href="#">All Photos</a></li>
        </ul>
        <br>
        <br>
        <div class="col-md-12">
          <div class="col-md-4" ng-repeat="photo in photos"> <a ng-href="#/dish/show/{{ photo.id }}">
            <div class="panel panel-default">
              <div class="panel-body"> <img style="max-width: 100%; height: 190px;" class="thumbnail" ng-src="{{ '/uploads/'+photo.dish_img }}" alt="{{ photo.name }}"> <b style="text-transform: uppercase; font-size: 18px; color: rgb(112, 171, 37);" >{{ photo.name }}</b> <br>
              </div>
            </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
