<!-- cook menu -->
<ul class="tree dhtml" if="type=='cook'">
  <li> <a href=""><i class="fa fa-bars"></i> COOK MENUS </a> </li>
  <li> <a href="/"> HOME </a> </li>
  <li> <a id="flip" href="#"> MESSAGES
    <div class="pull-right notification"> 0</div>
    </a> </li>
  <li> <a href="#/my-profile"> MY PROFILE </a> </li>
  <li> <a href="#/cook/dish/0"> ADD DISH </a> </li>
  <li> <a href="#/cook/dishs"> ALL DISHES </a> </li>
  <li> <a href="#/cook/my-orders"> MY ORDERS
    <div class="pull-right notification"> 0</div>
    </a> </li>
  <li> <a href="#/cook/booking"> BOOKING DETAILS
    <div class="pull-right notification"> 0</div>
    </a> </li>
  <li> <a href="#/my-photos"> MY PHOTOS </a> </li>
  <li> <a href="#/my-videos"> MY VIDEOS </a> </li>
  <li> <a href="logout.php"> LOGOUT </a> </li>
</ul>

<!-- user  menu -->
<ul class="tree dhtml" if="type=='user'">
  <li> <a href=""><i class="fa fa-bars"></i> COOK MENUS </a> </li>
  <li> <a href="/"> HOME </a> </li>
  <li> <a id="flip" href="#"> MESSAGES
    <div class="pull-right notification"> 0</div>
    </a> </li>
  <li> <a href="#/my-profile"> MY PROFILE </a> </li>
  <li> <a href="#/near-dish"> MAP SEARCH </a> </li>
  <li> <a href="#/food-for-sale"> FOOD FOR SALE </a> </li>
  <li> <a href="#/my-orders"> MY ORDERS </a> </li>
  <li> <a href="#/cook/booking"> BOOKING With Cook </a> </li>
  <li> <a href="logout.php"> LOGOUT </a> </li>
</ul>
