<div class="container sets-wrap">
  <div class="row">
    <div class="center_column col-xs-12 col-sm-8 col-sm-offset-2" id="center_column">
      <div class="tab-content">
        <ul class="nav nav-tabs clearfix" id="home-page-tabs">
          <li class="homefeatured"><a style="text-transform: uppercase;" class="homefeatured" href="#">COMPLETED ORDERS</a></li>
        </ul>
        <br>
        <br>
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
              	<th> Order Id</th>
                <th> Dish Name</th>
                <th> Qnt</th>
                <th> Delivered Time</th>
                <th> Pick Up Location</th>
                <th> Delivery Address</th>
                <th> Status</th>
                <th> Rating Given</th>
              </tr>
            </thead>
            <tbody>
          <tr>
            No data found
          </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
