<div class="container sets-wrap">
  <div class="row">
    <div class="center_column col-xs-12 col-sm-8 col-sm-offset-2" id="center_column">
      <div class="tab-content">
        <ul class="nav nav-tabs clearfix" id="home-page-tabs">
          <li class="homefeatured"><a style="text-transform: uppercase;" class="homefeatured" href="#">COMPLETED ORDERS</a></li>
        </ul>
        <br>
        <br>
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr ng-repeat="row in delivery">
                <td>{{ row.order_id }}</td>
                <td>{{ row.dish.name }}</td>
                <td>{{ row.orderDateTime }}</td>
                <td>{{ row.location }}</td>
                <td>{{ row.deliveryAddress }}</td>
                <td>{{ row.status }} </td>
                <td>{{ row.action }} </td>
              </tr>
            </thead>
            <tbody>
          <tr>
            No data found
          </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
